{{ if .Get "src" }}
<div style="display: flex; flex-direction: column; align-items: center; margin: calc(var(--line-height)* 1.2) 0;">
  <img src="{{ .Get "src" | safeURL }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }}" {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ else -}} style="margin: 0;" {{- end }} {{ with .Get "width" }} width="{{ . | plainify }}" {{ end }} {{ with .Get "height" }} height="{{ . | plainify }}" {{ end }} />

  {{ if .Get "caption" }}
  <div style="font-size: 0.9rem; color: var(--comment); font-style: italic;">{{ .Get "caption" }}</div>
  {{ end }}
</div>
{{ end }}
